<div class="container">
    <p style="font-size: 20px; justify-content: center; display: flex; margin-bottom: 32px;">CHI TIẾT CUỘC HỌP</p>
    <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              THÔNG TIN CUỘC HỌP
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form class="form-container" [formGroup]="meetingForm">
            <mat-form-field class="form-row" appearance="outline" color="accent">
                <mat-label >Nội dung</mat-label>
                <input matInput formControlName="noi_dung"/>
                <mat-error *ngIf="meetingForm.controls['noi_dung'].touched && !meetingForm.controls['noi_dung'].valid">
                  <span *ngIf="meetingForm.controls['noi_dung'].errors?.['required']">Bạn chưa nhập nội dung cuộc họp</span>
                </mat-error>
              </mat-form-field>
              
              <mat-form-field class="form-row" appearance="outline" color="accent">
                <mat-label>Thời gian</mat-label>
                <input matInput [ngxMatDatetimePicker]="picker" formControlName="thoi_gian"
                   [min]="minDate" [max]="maxDate" [disabled]="disabled">
                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                   [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                   [touchUi]="touchUi" [color]="accent" [enableMeridian]="enableMeridian">
                </ngx-mat-datetime-picker>
                <mat-error *ngIf="meetingForm.controls['thoi_gian'].touched && !meetingForm.controls['thoi_gian'].valid">
                  <span *ngIf="meetingForm.controls['thoi_gian'].errors?.['required']">Bạn chưa nhập thời gian</span>
                </mat-error>
             </mat-form-field>
              
              <mat-form-field class="form-row" appearance="outline" color="accent">
                <mat-label>Địa điểm</mat-label>
                <input matInput formControlName="dia_diem"/>
                <mat-error *ngIf="meetingForm.controls['dia_diem'].touched && !meetingForm.controls['dia_diem'].valid">
                  <span *ngIf="meetingForm.controls['dia_diem'].errors?.['required']">Bạn chưa nhập địa điểm cuộc họp</span>
                </mat-error>
              </mat-form-field>
      
              <button mat-flat-button class="form-row" color="accent" style="color: white"
              [disabled]="meetingForm.invalid || meetingForm.pristine" (click)="onSaveMeetingButton()">LƯU</button>
       
        </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                BIÊN BẢN HỌP
              </mat-panel-title>
            </mat-expansion-panel-header>
            <form class="form-container" [formGroup]="meetingPaperForm">
              <mat-form-field class="form-row" appearance="outline" color="accent">
                  <mat-label >Nội dung chi tiết cuộc họp</mat-label>
                  <input matInput formControlName="ban_ve_viec"/>
                  <mat-error *ngIf="meetingPaperForm.controls['ban_ve_viec'].touched && !meetingPaperForm.controls['ban_ve_viec'].valid">
                    <span *ngIf="meetingPaperForm.controls['ban_ve_viec'].errors?.['required']">Bạn chưa nhập nội dung cuộc họp</span>
                  </mat-error>
                </mat-form-field>
                
                <mat-form-field class="form-row" appearance="outline" color="accent">
                  <mat-label>Kết quả cuộc họp</mat-label>
                  <input matInput formControlName="thong_nhat"/>
                  <mat-error *ngIf="meetingPaperForm.controls['thong_nhat'].touched && !meetingPaperForm.controls['thong_nhat'].valid">
                    <span *ngIf="meetingPaperForm.controls['thong_nhat'].errors?.['required']">Bạn chưa nhập kết quả cuộc họp</span>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-row" appearance="outline" color="accent">
                    <mat-label>Thời gian lập biên bản</mat-label>
                    <input matInput [ngxMatDatetimePicker]="picker2" formControlName="thoi_gian_lap"
                       [min]="minDate" [max]="maxDate" [disabled]="disabled">
                    <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                       [touchUi]="touchUi" [color]="accent" [enableMeridian]="enableMeridian">
                    </ngx-mat-datetime-picker>
                    <mat-error *ngIf="meetingPaperForm.controls['thoi_gian_lap'].touched && !meetingPaperForm.controls['thoi_gian_lap'].valid">
                      <span *ngIf="meetingPaperForm.controls['thoi_gian_lap'].errors?.['required']">Bạn chưa nhập thời gian</span>
                    </mat-error>
                 </mat-form-field>
                 <div style="display: flex">
                  <button mat-flat-button class="form-row" color="accent" style="color: white; margin-right: 2px"
                [disabled]="meetingPaperForm.invalid || meetingPaperForm.pristine" (click)="onSaveMeetingPaperButton()">LƯU</button>
                <button mat-flat-button class="form-row" color="accent" style="color: white; margin-left: 2px"
                [disabled]="!hasBienBan" (click)="onDeleteMeetingPaperButton()">XÓA</button>

                 </div>
                
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                DANH SÁCH THAM DỰ
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-meeting-attendants [id_cuoc_hop]="id"></app-meeting-attendants>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              DANH SÁCH TỔ CHỨC
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-meeting-owner [id_cuoc_hop]="id"></app-meeting-owner>
        </mat-expansion-panel>
      </mat-accordion>
   
  </div>
  