<div class="container">
  <div class="action-row">
    <div style="width: 100%; display: flex;"> 
      <mat-form-field appearance="outline" color="accent" style="width: 15%">
        <input matInput placeholder="Tháng" ngModel [(ngModel)]="searchMonth" />
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" style="width: 15%">
        <input matInput placeholder="Năm" ngModel [(ngModel)]="searchYear" />
      </mat-form-field>
      <button mat-stroked-button class="custom-btn" color="accent"
      [disabled]="!searchYear" (click)="querySearchMonthYear()">Tìm kiếm</button>
      <button mat-flat-button class="custom-btnnn" color="accent" (click)="onDienNuoc()" style="color: white">Link Điện Nước</button>
      <button mat-flat-button class="custom-btnn" color="accent" (click)="onAdd()" style="color: white">Giá Phí Bắt Buộc</button>
      <!-- (click)="onAdd()" -->
    </div>
  </div>
  <table fixedLayout="true" mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="ma_ho_khau">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã Hộ Khẩu</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis main-col-text">
        {{element.ma_ho_khau}} </td>
    </ng-container>

    <ng-container matColumnDef="ten_chu_ho">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên Chủ Hộ</th>
      <td mat-cell *matCellDef="let element">
        {{element.ten_chu_ho}} </td>
    </ng-container>

    <ng-container matColumnDef="so_tien_con_thieu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số tiền còn thiếu</th>
      <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.so_tien_con_thieu <= 0 ? 'green' : 'red'}">
        {{element.so_tien_con_thieu}}.000 đ
      </td>
    </ng-container>

    <ng-container matColumnDef="so_tien">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền cần nộp</th>
      <td mat-cell *matCellDef="let element">
        {{element.so_tien}}.000 đ </td>
    </ng-container>

    <ng-container matColumnDef="nop_ngay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phí trong tháng</th>
      <td mat-cell *matCellDef="let element">
        {{element.thang}}/{{element.nam}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" [matMenuTriggerFor]="actionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <p style="margin-bottom: 0;" mat-menu-item (click)="onOpenInfo(element.ma_ho_khau)">Xem chi tiết</p>
          <p style="margin-bottom: 0;" mat-menu-item (click)="onAddMoney(element.ma_ho_khau)">Ghi nhận tiền đóng</p>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <div *ngIf="data.length == 0" class="no-data"> Không có dữ liệu để hiến thị</div>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
