<div class="container">
  <p style="font-size: 16px">DANH SÁCH NGƯỜI DÙNG HỆ THỐNG</p>
  <div class="action-row">
    <!-- <mat-form-field appearance="outline" color="accent">
    <input matInput type="text" placeholder="Tìm kiếm" ngModel/>
  </mat-form-field> -->
    <button mat-flat-button color="accent" (click)="onAddUser()" style="color: rgb(255, 255, 255)"
      *ngIf="checkedList.length == 0">Thêm người dùng</button>

    <div *ngIf="checkedList.length > 0">
      <span style="color: #fb5a47; margin-right: 12px;">{{checkedList.length}} người dùng được chọn</span>
      <button mat-flat-button color="warn" (click)="onDelete(checkedList)" style="color: white">Xoá</button>
    </div>
  </div>
  <table fixedLayout="true" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-checkbox [checked]="allChecked" [indeterminate]="someChecked()" (change)="setAllChecked()"></mat-checkbox> -->
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [checked]="checkedList.includes(element.id_nguoi_dung)"
          (change)="changeChecked(element.id_nguoi_dung)"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="ten_dang_nhap" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên đăng nhập</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis" (dblclick)="openUserInfo(element.id_nguoi_dung)">
        {{element.ten_dang_nhap}} </td>
    </ng-container>

    <ng-container matColumnDef="ten_day_du">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên đầy đủ</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.ten_day_du}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis" [class.not-null]="!!element.email" [class.null-item]="!element.email"
        [title]="element.email"> {{!!element.email? element.email : 'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="so_dien_thoai">
      <th mat-header-cell *matHeaderCellDef>Số điện thoại</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis" [class.not-null]="!!element.so_dien_thoai" [class.null-item]="!element.so_dien_thoai">
        {{!!element.so_dien_thoai? element.so_dien_thoai : 'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="chuc_vu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Chức vụ</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis" [class.not-null]="!!element.chuc_vu" [class.null-item]="!element.chuc_vu">
        {{!!element.chuc_vu? element.chuc_vu: 'N/A'}}</td>
    </ng-container>

    <ng-container matColumnDef="nhom">
      <th mat-header-cell *matHeaderCellDef>Nhóm</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.nhom.length == 0" class="null-item">N/A</span>
        <span class="hb-chip text-ellipsis" *ngFor="let nhom of element.nhom.slice(0, 2)"
          style="transform: translateY(3px);" (dblclick)="openGroupInfo(nhom.id_nhom)">{{nhom.ten_nhom}}</span>
        <span class="tag-more" *ngIf="element.nhom.length > 2" [matMenuTriggerFor]="nhomMenu"
          style="line-height: 36px;">+{{ element.nhom.length - 2}} nhóm</span>
        <mat-menu #nhomMenu="matMenu">
          <span class="hb-chip chip-more" *ngFor="let nhom of element.nhom.slice(2)" (click) = "$event.stopPropagation()" (dblclick)="openGroupInfo(nhom.id_nhom)">{{nhom.ten_nhom}}</span>
        </mat-menu>
      </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button><mat-icon>remove_red_eye</mat-icon></button>
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>edit</mat-icon></button> -->
        <!-- <button mat-button [matMenuTriggerFor]="actionMenu">Thao tác</button> -->
        <button mat-icon-button color="accent" [matMenuTriggerFor]="actionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <p style="margin-bottom: 0;" mat-menu-item (click)="openUserInfo(element.id_nguoi_dung)">Xem chi tiết</p>
          <!-- <p class="header-text__2" mat-menu-item>Sửa</p> -->
          <p style="color: #fb5a47; margin-bottom: 0;" mat-menu-item (click)="onDelete([element.id_nguoi_dung])">Xoá</p>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
