<div class="container">
  <div class="action-row">
    <div style="width: 100%; display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" color="accent" style="width: 15%;">
        <mat-select placeholder="Loại thông tin tìm kiếm" [(ngModel)]="typeSearch">
          <mat-option value="none">---</mat-option>
          <mat-option value="cmt">Số CMT/CCCD</mat-option>
          <mat-option value="name">Họ và tên</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" style="width: 60%">
        <input matInput placeholder="Nhập thông tin tìm kiếm" ngModel [(ngModel)]="searchStr" />
      </mat-form-field>
      <button mat-stroked-button class="custom-btn" color="accent"
        [disabled]="typeSearch === 'none' || searchStr === ''" (click)="queryHouseholdMembers()">Tìm kiếm</button>
      <button mat-stroked-button class="custom-btn" color="warn" (click)="cancelSearch()">Huỷ</button>
      <button mat-flat-button class="custom-btn" color="accent" (click)="onAdd()" style="color: white">Thêm nhân
        khẩu</button>
    </div>
  </div>
  <table fixedLayout="true" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="ho_ten">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Họ và tên</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis main-col-text" (dblclick)="onOpen(element.ID)">
        {{element.ho_ten}} </td>
    </ng-container>

    <ng-container matColumnDef="so_cmt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Số CMT/CCCD</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis" [class.null-item]="!element.so_cmt">{{!!element.so_cmt ? element.so_cmt : 'N/A'}} </td>
    </ng-container>

    <ng-container matColumnDef="ngay_sinh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày sinh</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.ngay_sinh | date:'dd-MM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="gioi_tinh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Giới tính</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.gioi_tinh}} </td>
    </ng-container>

    <ng-container matColumnDef="dia_chi_hien_nay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ hiện nay</th>
      <td mat-cell *matCellDef="let element" class="text-ellipsis"> {{element.dia_chi_hien_nay}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" [matMenuTriggerFor]="actionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #actionMenu="matMenu">
          <p style="margin-bottom: 0;" mat-menu-item (click)="onOpen(element.ID)">Xem chi tiết</p>
          <p style="margin-bottom: 0;" mat-menu-item (click)="onEdit(element.ID)">Sửa</p>
          <p style="margin-bottom: 0;" mat-menu-item (click)="onKhaiTu(element)">Khai tử</p>
          <p style="margin-bottom: 0;" mat-menu-item (click)="onTamVang(element)">Tạm vắng</p>
          <!-- <p style="color: #fb5a47; margin-bottom: 0;" mat-menu-item (click)="onDelete([element.ID])">Xoá</p> -->
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <div *ngIf="data.length == 0" class="no-data"> Không có dữ liệu để hiến thị</div>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
