<div class="popup-header">
  <p class="title">THÊM KHOẢN ĐÓNG GÓP</p>
  <button mat-icon-button (click)="closePopup()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="container">
  <form [formGroup]="form" style="display: grid; width: 100%;">
    <div class="block">
    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Mã đóng góp</mat-label>
      <input matInput formControlName="ma_dong_gop" />
    </mat-form-field>

    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Tên đóng góp</mat-label>
      <input matInput formControlName="ten_dong_gop" />
    </mat-form-field>

    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Hạn Nộp</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="han_nop">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Huỷ</button>
          <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      <mat-error *ngIf="form.controls['han_nop'].touched && !form.controls['han_nop'].valid">
        <span *ngIf="form.controls['han_nop'].errors?.['required']">Bạn chưa nhập ngày</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Số tiền</mat-label>
      <input matInput formControlName="so_tien" />
    </mat-form-field>

    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Mô Tả</mat-label>
      <input matInput formControlName="mo_ta" />
    </mat-form-field>
    </div>

    <button mat-flat-button class="form-row" color="accent" style="color: white"
      [disabled]="form.invalid || form.pristine" (click)="onSaveBtn()">LƯU</button>

  </form>
</div>
