<mat-accordion>
  <mat-expansion-panel style="margin-top: 64px">
    <mat-expansion-panel-header>
      <mat-panel-title>
        DANH SÁCH NHÂN KHẨU
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-houshold-member-list style="width: 100%;"></app-houshold-member-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DANH SÁCH KHAI TỬ
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-khai-tu-list style="width: 100%;"></app-khai-tu-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DANH SÁCH TẠM TRÚ
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tam-tru-list style="width: 100%;"></app-tam-tru-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        DANH SÁCH TẠM VẮNG
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-tam-vang-list style="width: 100%;"></app-tam-vang-list>
  </mat-expansion-panel>
</mat-accordion>
