$info-lighter: #83e4ff;
$info-light: #3ecc6b;
$info: #030d04;
$info-dark: #1e9ebe;

$main-bg: #ddfddc;
$main-lighter: #e391e1;
$main-light:  #FFAAB3;
$main:  #17177a;
$main-dark: #1fd9dd;

$error-lighter: #fde0d8;
$error-light: #fdb8ae;
$error: #fb5a47;
$error-dark: #b51d09;
$error-darker: #8b1303;

$warning-lighter: #faf3d1;
$warning-light: #fee685;
$warning: #face00;
$warning-darker: #a88f48;

$success-lighter: #e3f5e1;
$success-light: #b7f5bd;
$success: #00c517;
$success-dark: #24c8dd;
$success-darker: 008817;

$disable-light: #e6e6e6;
$disable: #c9c9c9;
$disable-dark: #adadad;
