.container {
  display: flex;
  padding: 0 24px 24px 24px;

  .block {
    // max-height: calc(80vh - 160px);
    // overflow-y: scroll;
    // overflow-x: hidden;
    display: grid;
  }
  .row {
    display: flex;
    align-items: center; /* Canh giữa theo chiều dọc */
  }
  .form-row {
    margin-bottom: 6px;
    /* Thêm kiểu cho trường nhập liệu tháng và năm */

  }
}
