<div class="popup-header">
  <p class="title">GHI NHẬN KHOẢN ĐÓNG</p>
  <button mat-icon-button (click)="closePopup()">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="container">
  <form [formGroup]="form" style="display: grid; width: 100%;">
    <div class="block">
    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Tiền hộ vừa nộp</mat-label>
      <input matInput formControlName="so_tien_da_dong" />
    </mat-form-field>

    <mat-form-field class="form-row" appearance="outline" color="accent">
      <mat-label>Ngày Nộp</mat-label>
      <input matInput [matDatepicker]="dp" formControlName="ngay_dong">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Huỷ</button>
          <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
        </mat-datepicker-actions>
      </mat-datepicker>
      <mat-error *ngIf="form.controls['ngay_dong'].touched && !form.controls['ngay_dong'].valid">
        <span *ngIf="form.controls['ngay_dong'].errors?.['required']">Bạn chưa nhập ngày</span>
      </mat-error>
    </mat-form-field>

    </div>

    <button mat-flat-button class="form-row" color="accent" style="color: white"
      [disabled]="form.invalid || form.pristine" (click)="onSaveBtn()">LƯU</button>

  </form>
</div>
