<div class="popup-header">
  <p class="title">THÔNG TIN KHOẢN ĐÓNG GÓP</p>
  <!-- <button mat-icon-button (click)="closePopup()">
    <mat-icon>clear</mat-icon>
  </button> -->
</div>

<div class="container">
  <table class="none-border">
    <tr>
      <td class="title">Mã hộ khẩu</td>
      <td>{{data.ma_ho_khau}}</td>
    </tr>
    <tr>
      <td class="title">Tên Chủ Hộ</td>
      <td>{{data.ten_chu_ho}}</td>
    </tr>
    
    <tr>
      <td class="title">Các khoản phí đóng góp</td>
      <td *ngFor="let member of list_dong_gop" style="display: grid">
        <table class="sub-table">
          <tr>
            <td class="title">Tên Khoản Đóng</td>
            <td>{{member.ten_dong_gop}}</td>
          </tr>
          <tr>
            <td class="title">Số tiền đã đóng</td>
            <td>{{member.so_tien}}k</td>
          </tr>
        </table>
      </td>
    <tr>
  </table>
</div>
