<div class="container">
  <p style="font-size: 20px; justify-content: center; display: flex; margin-bottom: 32px;">THÊM NHÂN KHẨU</p>
  <form class="form-container" [formGroup]="memberForm">
    <!-- Hàng 1 -->
    <div class="block">
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Họ và tên</mat-label>
          <input matInput formControlName="ho_ten" />
          <mat-error *ngIf="memberForm.controls['ho_ten'].touched && !memberForm.controls['ho_ten'].valid">
            <span *ngIf="memberForm.controls['ho_ten'].errors?.['required']">Bạn chưa nhập họ và tên</span>
            <span *ngIf="memberForm.controls['ho_ten'].errors?.['pattern']">Họ và tên chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Biệt danh</mat-label>
          <input matInput formControlName="biet_danh" />
          <mat-error *ngIf="memberForm.controls['biet_danh'].touched && !memberForm.controls['biet_danh'].valid">
            <span *ngIf="memberForm.controls['biet_danh'].errors?.['pattern']">Biệt danh chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 2  -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Ngày sinh</mat-label>
          <input matInput [matDatepicker]="datepicker" formControlName="ngay_sinh">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Huỷ</button>
              <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error *ngIf="memberForm.controls['ngay_sinh'].touched && !memberForm.controls['ngay_sinh'].valid">
            <span *ngIf="memberForm.controls['ngay_sinh'].errors?.['required']">Bạn chưa nhập ngày sinh</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Giới tính</mat-label>
          <mat-select formControlName="gioi_tinh" matInput>
            <mat-option [value]="'Nữ'">Nữ</mat-option>
            <mat-option [value]="'Nam'">Nam</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- Hàng 3 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nơi sinh</mat-label>
          <input matInput formControlName="noi_sinh" />
          <mat-error *ngIf="memberForm.controls['noi_sinh'].touched && !memberForm.controls['noi_sinh'].valid">
            <span *ngIf="memberForm.controls['noi_sinh'].errors?.['required']">Bạn chưa nhập nơi sinh</span>
            <span *ngIf="memberForm.controls['noi_sinh'].errors?.['pattern']">Nơi sinh chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nguyên quán</mat-label>
          <input matInput formControlName="nguyen_quan" />
          <mat-error *ngIf="memberForm.controls['nguyen_quan'].touched && !memberForm.controls['nguyen_quan'].valid">
            <span *ngIf="memberForm.controls['nguyen_quan'].errors?.['required']">Bạn chưa nhập nguyên quán</span>
            <span *ngIf="memberForm.controls['nguyen_quan'].errors?.['pattern']">Nguyên quán chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 4 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Dân tộc</mat-label>
          <input matInput formControlName="dan_toc" />
          <mat-error *ngIf="memberForm.controls['dan_toc'].touched && !memberForm.controls['dan_toc'].valid">
            <span *ngIf="memberForm.controls['dan_toc'].errors?.['required']">Bạn chưa nhập dân tộc</span>
            <span *ngIf="memberForm.controls['dan_toc'].errors?.['pattern']">Dân tộc chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Tôn giáo</mat-label>
          <input matInput formControlName="ton_giao" />
          <mat-error *ngIf="memberForm.controls['ton_giao'].touched && !memberForm.controls['ton_giao'].valid">
            <span *ngIf="memberForm.controls['ton_giao'].errors?.['required']">Bạn chưa nhập tôn giáo</span>
            <span *ngIf="memberForm.controls['ton_giao'].errors?.['pattern']">Tôn giáo chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 5 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Quốc tịch</mat-label>
          <input matInput formControlName="quoc_tich" />
          <mat-error *ngIf="memberForm.controls['quoc_tich'].touched && !memberForm.controls['quoc_tich'].valid">
            <span *ngIf="memberForm.controls['quoc_tich'].errors?.['required']">Bạn chưa nhập quốc tịch</span>
            <span *ngIf="memberForm.controls['quoc_tich'].errors?.['pattern']">Quốc tịch chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Số hộ chiếu</mat-label>
          <input matInput formControlName="so_ho_chieu" />
          <mat-error *ngIf="memberForm.controls['so_ho_chieu'].touched && !memberForm.controls['so_ho_chieu'].valid">
            <span *ngIf="memberForm.controls['so_ho_chieu'].errors?.['required']">Bạn chưa nhập số hộ chiếu</span>
            <span *ngIf="memberForm.controls['so_ho_chieu'].errors?.['pattern']">Số hộ chiếu chỉ chứa các số và chữ
              cái</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 6 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nơi thường trú</mat-label>
          <input matInput formControlName="noi_thuong_tru" />
          <mat-error
            *ngIf="memberForm.controls['noi_thuong_tru'].touched && !memberForm.controls['noi_thuong_tru'].valid">
            <span *ngIf="memberForm.controls['noi_thuong_tru'].errors?.['required']">Bạn chưa nhập nơi thường chú</span>
            <span *ngIf="memberForm.controls['noi_thuong_tru'].errors?.['pattern']">Bạn nhập sai định dạng địa
              chỉ</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Địa chỉ hiện nay</mat-label>
          <input matInput formControlName="dia_chi_hien_nay" />
          <mat-error
            *ngIf="memberForm.controls['dia_chi_hien_nay'].touched && !memberForm.controls['dia_chi_hien_nay'].valid">
            <span *ngIf="memberForm.controls['dia_chi_hien_nay'].errors?.['required']">Bạn chưa nhập địa chỉ hiện
              nay</span>
            <span *ngIf="memberForm.controls['dia_chi_hien_nay'].errors?.['pattern']">Bạn nhập sai định dạng địa
              chỉ</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 7 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Trình độ học vấn</mat-label>
          <input matInput formControlName="trinh_do_hoc_van" />
          <mat-error
            *ngIf="memberForm.controls['trinh_do_hoc_van'].touched && !memberForm.controls['trinh_do_hoc_van'].valid">
            <span *ngIf="memberForm.controls['trinh_do_hoc_van'].errors?.['required']">Bạn chưa nhập trình độ học
              vấn</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Biết tiếng dân tộc</mat-label>
          <input matInput formControlName="biet_tieng_dan_toc" />
          <mat-error
            *ngIf="memberForm.controls['biet_tieng_dan_toc'].touched && !memberForm.controls['biet_tieng_dan_toc'].valid">
            <span *ngIf="memberForm.controls['biet_tieng_dan_toc'].errors?.['required']">Bạn chưa nhập biết tiếng dân
              tộc</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 8 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Trình độ ngoại ngữ</mat-label>
          <input matInput formControlName="trinh_do_ngoai_ngu" />
          <mat-error
            *ngIf="memberForm.controls['trinh_do_ngoai_ngu'].touched && !memberForm.controls['trinh_do_ngoai_ngu'].valid">
            <span *ngIf="memberForm.controls['trinh_do_ngoai_ngu'].errors?.['required']">Bạn chưa nhập trình độ ngoại
              ngữ</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Tiền án</mat-label>
          <input matInput formControlName="tien_an" />
        </mat-form-field>
      </div>
      <!-- Hàng 9 -->
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nghề nghiệp</mat-label>
          <input matInput formControlName="nghe_nghiep" />
          <mat-error *ngIf="memberForm.controls['nghe_nghiep'].touched && !memberForm.controls['nghe_nghiep'].valid">
            <span *ngIf="memberForm.controls['nghe_nghiep'].errors?.['required']">Bạn chưa nhập nghề nghiệp</span>
            <span *ngIf="memberForm.controls['nghe_nghiep'].errors?.['pattern']">Nghề nghiệp chỉ chứa các chữ cái</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nơi làm việc</mat-label>
          <input matInput formControlName="noi_lam_viec" />
          <mat-error *ngIf="memberForm.controls['noi_lam_viec'].touched && !memberForm.controls['noi_lam_viec'].valid">
            <span *ngIf="memberForm.controls['noi_lam_viec'].errors?.['required']">Bạn chưa nhập nơi làm việc</span>
            <span *ngIf="memberForm.controls['noi_lam_viec'].errors?.['pattern']">Bạn nhập sai định dạng địa chỉ</span>
          </mat-error>
        </mat-form-field>
      </div>
      <!-- Hàng 10 -->
      <div class="row">

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Ngày chuyển đến</mat-label>
          <input matInput [matDatepicker]="datepicker2" formControlName="ngay_chuyen_den">
          <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #datepicker2>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Huỷ</button>
              <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Lý do chuyển đến</mat-label>
          <input matInput formControlName="ly_do_chuyen_den" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Ghi chú</mat-label>
          <input matInput formControlName="ghi_chu" />
        </mat-form-field>
      </div>
    </div>
    <div class="block">
      <div class="row">
        <mat-checkbox #coCmt style="margin-bottom: 18px" (change)="changeCmtChecked(coCmt.checked)">Đã có CMT/CCCD</mat-checkbox>
      </div>
      <div class="row" *ngIf="coCmt.checked">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Số CMT/CCCD</mat-label>
          <input matInput formControlName="so_cmt"/>
          <mat-error *ngIf="memberForm.controls['so_cmt'].touched && !memberForm.controls['so_cmt'].valid">
            <span *ngIf="memberForm.controls['so_cmt'].errors?.['required']">Bạn chưa nhập số CMT/CCCD</span>
            <span *ngIf="memberForm.controls['so_cmt'].errors?.['pattern']">Số CMT/CCCD chỉ gồm 9 hoặc 12 chữ số</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Ngày cấp</mat-label>
          <input matInput [matDatepicker]="datepicker4" formControlName="ngay_cap">
          <mat-datepicker-toggle matSuffix [for]="datepicker4"></mat-datepicker-toggle>
          <mat-datepicker #datepicker4>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Huỷ</button>
              <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
            </mat-datepicker-actions>
          </mat-datepicker>
          <mat-error *ngIf="memberForm.controls['ngay_cap'].touched && !memberForm.controls['ngay_cap'].valid">
            <span *ngIf="memberForm.controls['ngay_cap'].errors?.['required']">Bạn chưa nhập ngày cấp</span>
          </mat-error>
        </mat-form-field>


      </div>
      <!-- Hàng 12 -->
      <div class="row" *ngIf="coCmt.checked">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Nơi cấp</mat-label>
          <input matInput formControlName="noi_cap"/>
          <mat-error *ngIf="memberForm.controls['noi_cap'].touched && !memberForm.controls['noi_cap'].valid">
            <span *ngIf="memberForm.controls['noi_cap'].errors?.['required']">Bạn chưa nhập nơi cấp</span>
            <span *ngIf="memberForm.controls['noi_cap'].errors?.['pattern']">Bạn nhập sai định dạng địa chỉ</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <!-- Hàng 11 -->
    <div class="block">
      <div class="row">
        <mat-checkbox #chuyenDi style="margin-bottom: 18px">Đã chuyển đi</mat-checkbox>
      </div>
      <div class="row" *ngIf="chuyenDi.checked">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Ngày chuyển đi</mat-label>
          <input matInput [matDatepicker]="datepicker3" formControlName="ngay_chuyen_di">
          <mat-datepicker-toggle matSuffix [for]="datepicker3"></mat-datepicker-toggle>
          <mat-datepicker #datepicker3>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Huỷ</button>
              <button mat-raised-button color="accent" matDatepickerApply>Đồng ý</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Lý do chuyển đi</mat-label>
          <input matInput formControlName="ly_do_chuyen_di" />
        </mat-form-field>
      </div>
      <!-- Hàng 12 -->
      <div class="row" *ngIf="chuyenDi.checked">
        <mat-form-field class="form-row" appearance="outline" color="accent">
          <mat-label>Địa chỉ mới</mat-label>
          <input matInput formControlName="dia_chi_moi" />
        </mat-form-field>
      </div>
    </div>

    <div class="row" style="display: flex; justify-content: flex-end; margin-top: 24px;">
      <button mat-flat-button style="margin-right: 24px" (click)="onCancel()">Quay lại</button>
      <button class="signup-btn" mat-flat-button color="accent" style="color: white" [disabled]="memberForm.invalid"
        (click)="onAddButton()">THÊM NHÂN KHẨU</button>
    </div>
  </form>
</div>
